.content{
    display: flex;
}

.images-content{
    background-color: lightgray;
    padding: 1vmin;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, auto));
    grid-gap: 1rem;
}

.videos-content{
    background-color: lightgray;
    padding: 1vmin;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, auto));
    grid-gap: 1rem;
}

.projects-content{
    background-color: lightgray;
    padding: 1vmin;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.project{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-gap: 1rem;
}

img{
    margin: auto;
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
}

video{
    margin: auto;
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
}

.tall{
    grid-row: span 2;
}

.wide{
    grid-column: span 2;
}

.center-text{
    align-self: center;
}
