.tab-list {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #393E41;
}

.tab {
    float: left;
}

.tab p {
    display: block;
    color: white;
    margin: auto;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.tab p:hover {
    background-color: #ADB2B3;
    color: black;
}

.content {
    margin-top: 2.5em;
    padding: 1em;
}

h1 {
    margin-bottom: 0;
}

.intro {
    display: flex;
}

#introImage {
    width: 30vw;
    padding: 1em;
    padding-left: 0;
}

.grid {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    align-items: center;
}

.img-item {
    margin: auto;  
}

.grid-img {
    margin: auto;
    max-width: 100%;
}

.vid-item {
    margin: auto;  
}

.grid-vid {
    margin: auto;
    max-width: 100%;
    max-height: 500px;
}

iframe {
    margin: auto;
    max-width: 100%;
    max-height: 500px;
}

.project-link {
    margin: auto;
    display: grid;
    grid-template-rows: 20em 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
}

.grid-project {
    margin: auto;
    max-width: 100%;
    max-height: 20em;
}

.scroll-btn {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 5%;
    border: none;
    outline: none;
    background-color: #393E41;
    color: white;
    cursor: pointer;
    padding: 1em;
}

.scroll-btn:hover {
    background-color: #ADB2B3;
    color: black;
}

.tall {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.guestbook-page {
    overflow: hidden;
}

.guestbook {
    display: flex;
    height: calc(100vh - 10em);
}

.form {
    flex-basis: 50%;
    margin: 1em;
    overflow-y: auto;
}

.form > h2 {
    color: #42BFDD;
    margin: 0 0 0.25em;
    font-weight: lighter;
    font-style: italic;
}

.form * input[type=text], .form * select{
    background: transparent;
    border: none;
    border-bottom: 1px solid #393E41;
    width: 100%;
    padding: 0.25em 0;
    margin: 0.25em 0 0.25em;
    display: inline-block;
    box-sizing: border-box;
}

.form * label {
    font-weight: bold;
}

.form * input[type=submit] {
    border: none;
    outline: none;
    background-color: #393E41;
    color: white;
    cursor: pointer;
    padding: 1em;
    margin: 1em 0 0;
}

.form * input[type=submit]:hover {
    background-color: #ADB2B3;
    color: black;
}
  
.posts {
    flex-basis: 50%;
    margin: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}

.post {
    margin-bottom: 1em;
}

.new-post {
    animation-name: new-post;
    animation-duration: 2s; 
}

.posts * p {
    margin: 0;
}

.posts > h2 {
    color: #42BFDD;
    margin: 0 0 0.25em;
    font-weight: lighter;
    font-style: italic;
}

.time {
    font-style: italic;
    color: #42BFDD;
}

.name {
    font-weight: bold;
}

.desc {
    font-style: italic;
}

.msg {
    padding-left: 1em;
}

@keyframes new-post {
    from {background-color: #42BFDD;}
    to {background-color: transparent;}
}